@import "../styles/variable";

:root {
  --general-user-info-width: 260px;
}

.table-of-profiles {
  color: #0d47a1;
  font-weight: bold;
  font-size: 23px;
  padding: 0 16px 0 32px;
  margin-top: 16px;
}

.table-of-profiles.fixed {
  position: fixed;
  top: var(--kt-app-header-height);
  height: 100vh;
  overflow-y: scroll;
}

.item-of-profile {
  padding-left: 16px;
  line-height: 25px;
  font-weight: 700;
  font-size: 16px;
  color: #595959;
  position: relative;
}

.item-of-profile.active {
  color: #519DD9;
}

.item-of-profile.active::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 10px;
  width: 2px;
  height: 18px;
  background-color: #519DD9;
}

.item-of-table:active {
  border-left: 2px solid #519dd9;
}

.title-of-profiles {
  color: #0d47a1;
  font-size: 23px;
  line-height: 32px;
  font-weight: 700;
}

.content {
  width: 100%;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(5, minMax(0, 1fr));
  gap: 16px;
  margin-top: 10px;

  &-custom {
    margin-top: 48px;
  }

  &.cols-4 {
    grid-template-columns: repeat(4, minMax(0, 1fr));
  }
}

.content-two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.item-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item-content>* {
  align-self: flex-start;
}

.item-content span {
  margin-bottom: 3px;
}

.table-block {
  margin-bottom: 25px;
  margin-top: 25px;
}

.text-add-field {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 145%;
  color: #2b6dba;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.open-field {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.rich-list {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.center {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.checkbox-content {
  border: 1px solid #519dd9;
}

.input {
  max-width: var(--general-user-info-width);
}

.text-wrapper {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 155%;
}

.main__info {
  height: 180px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  &--image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    display: inline-block;
    padding: 0 !important;
  }
}

.main__info-view {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.main__info--left {

  margin: 16px 0px;
  display: flex;
  // gap: 16px;
  justify-content: space-around;
}

.image-upload {
  position: relative;
}

.icon-image-upload {
  position: absolute;
  top: 86px;
  left: -20px;
  padding: 4px 80px 20px 80px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.148);
}

.icon-image-upload {
  position: absolute;
  top: 86px;
  left: -20px;
  padding: 4px 80px 20px 80px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.148);
}

.icon-image-upload {
  position: absolute;
  top: 86px;
  left: -20px;
  padding: 4px 80px 20px 80px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.148);
}

.main__info--employee {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 12px;

  .name {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  .code {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
  }
}

.main__info--right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px 32px;
  margin: 27px 10px;
}

.main__info--block {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-self: start;
  gap: 5px;
}

.main__info--title {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
}

.main__info--content {
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%;
}

.profile-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--kt-primary);
  text-transform: uppercase;
}

.search-btn {
  border: 1px solid var(--kt-input-border-color) !important;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  background-color: var(--kt-white);
  padding: 6px 12px !important;
  border-left: unset !important;
}

.search-input {
  padding: 6px 12px !important;
  border-right: unset !important;
}

.search-input:focus {
  outline: none;
  border: 1px solid var(--kt-input-border-color) !important;
  border-right: unset !important;
}

.search-btn:hover {
  background-color: var(--kt-white);
}

.button-primary.outline {
  border: 1px solid var(--kt-primary);
  background-color: var(--kt-white) !important;
  color: var(--kt-primary);
}

.layout {
  grid-gap: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 4fr;
  margin-top: 12px;

}

.relative {
  position: relative;
}

.fixed-button {
  position: fixed;
  right: 0;
  z-index: 10;
  width: fit-content;
}

.header-container {
  background-color: var(--kt-app-bg-color);
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  top: 48px;
  position: sticky;
  width: 100%;
  align-items: center;
  height: 33px;
  z-index: 2;
  padding: 16px 0;

  .actions {
    padding-right: 32px;
  }
}



/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.custom-table {
  border: 1px solid #F4F4F4;
}

.custom-table thead th,
.custom-table tbody td {
  border: 1px solid #F4F4F4;
}

.header-action {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-bottom: 20px;
  width: 100%;
}

.text-header {
  font-size: 16px;
}

.table-btn {
  gap: 4px;
  padding: 6px 12px !important;
  align-items: center;
  border-radius: 4px;

  &.outline {
    background-color: var(--kt-white);
    border: 1px solid var(--kt-primary);
    color: var(--kt-primary);

    svg {
      color: var(--kt-primary);
    }
  }

  svg {
    width: 21px !important;
    height: 21px !important;
  }
}

@media screen and (max-width: 1440px) {

  .layout {
    grid-template-columns: 1fr;
  }

  .table-of-profiles {
    display: none;
  }
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  .container-profile {
    .select-tree {
      overflow-y: auto;
      height: calc(100vh - 280px);
    }

    .table-custom {
      .table-responsive {
        max-height: calc(100vh - 300px) !important;
      }
    }
  }

  .svg-icon-sidebar {
    svg {
      width: 24px !important;
      height: 24px !important;
    }
  }

  .status {
    margin: auto;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .politics-information {
    .input-politics {
      margin-top: 16px;

      .customs-input {
        height: 29px;
      }
    }
  }
}

.original-address {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.layout-v2 {
  background: #FFF;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);

  .general-user-info {
    flex-basis: var(--general-user-info-width);
    background: #FFF;
    box-shadow: -1px 0px 0px 0px #DEE2E6 inset;

    .user-info {
      padding: 16px;
      gap: 10px;
      background: #F8F9FA;
      box-shadow: -1px -1px 0px 0px #DEE2E6 inset;

      .profile-avatar {
        width: 80px;
        height: 80px;

        .image-upload-icon {
          display: none;
        }

        &:hover {
          .image-upload-icon {
            position: absolute;
            display: block;
            left: 50%;
            top: 70%;
            transform: translate(-50%, -50%);
          }
        }
      }

      .user-info-basic {
        gap: 4px;

        .name {
          color: #212529;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
        }

        .code {
          color: var(--kt-primary);
        }

        .employee-status {
          gap: 12px;

          .dot {
            width: 8px;
            height: 8px;
            border-radius: 50%;
          }

          .status-name {
            color: rgba(0, 0, 0, 0.85);
            font-size: 12.8px;
            font-style: normal;
            font-weight: 400;
            line-height: 19.2px;
          }
        }

        .profile-status {
          gap: 5px;
          font-size: 14px;
        }
      }
    }

    .information {
      padding: 16px 16px 16px 10px;

      .list {
        gap: 20px;
        font-size: 14px;
        font-style: normal;

        .label {
          font-weight: 600;
          line-height: 18px;
          flex: 1;
        }

        .value {
          color: #000;
          font-weight: 400;
          line-height: 18px;
        }
      }

      .adjust-btn {
        padding: 4px 8px;
        gap: 8px;
        font-size: 13px;
        color: var(--kt-primary);
        border-radius: 4px;
        border: 1px solid var(--kt-primary);
        background: var(--kt-white);
      }
    }
  }

  .tabs-user-info {
    max-width: calc(100% - var(--general-user-info-width));

    .nav-tabs {
      display: flex;
      justify-content: space-between;
      padding: 4px 32px 0px 16px;
      background: #FFF;
      box-shadow: 0px -1px 0px 0px #DEE2E6 inset;

      .dropdown-menu.show {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px;
        transform: translate(-20px, 55px) !important;
        top: -6px !important;
        left: -70px !important;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        width: max-content;

        .nav-link {
          padding: 0 !important;
          line-height: unset !important;
          color: black;
          border-bottom: unset !important;
        }

        .nav-link.active {
          color: var(--kt-primary) !important;
        }

        .nav-item{
          width: 100%;
          padding: 8px;
          &:hover {
            background-color: $color-light-cyan-active !important;

            .dropdown-item {
              color: var(--kt-primary) !important;
              background-color: $color-light-cyan-active !important;
              font-weight: 600;
            }
          }
        }

      }
    }

    .tab-content {
      // 48px(app-header-menu) - 65px(header-container) - 39px(app-footer) - 58px(nav-tabs)
      height: calc(100vh - 210px);
      overflow-y: auto;
    }

    .nav-link {
      font-size: 14px;
      padding: 4px !important;
      margin: 0 2px !important;
      line-height: 36px;
      color: #6C757D !important;
    }
  }
}


.form-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 16px;

  &.contract {
    .block-content {
      padding: 0px 32px;
    }
  }

  .block-content {
    padding: 10px 32px;
  }

  &.training-level-info {
    .content {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.nav-line-tabs .nav-item .nav-link.active,
.nav-line-tabs .nav-item.show .nav-link,
.nav-line-tabs .nav-item .nav-link:hover:not(.disabled) {
  color: var(--kt-primary) !important;
  border-bottom: 2px solid var(--kt-primary);
  margin: 0 2px !important;
  font-weight: 700;
}

.contract-dialog-content {
  max-height: 80vh;
  overflow: auto;
}

.foreign-language-note {
  .customs-input {
    height: 118px !important;
  }
}