@import '../styles/variable';

.bien-ban-xm-container {
    display: flex;
    gap: 10px;
    margin-top: 5px;

    .title {
        font-size: 13px;
        text-transform: uppercase;
        color: $color-text-cyan;
        font-weight: 600;
        line-height: 15.23px;
    }

    .ds-header {
        padding: 10px 12px 3px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .ds-bien-ban-xm {
        width: 45%;
        background-color: white;

        .ds-search-box {
            display: flex;
            padding: 10px 12px;
            align-items: center;
            gap: 10px;

            .box-search {
                flex: 1;
            }
        }
    }

    .tt-bien-ban-xm {
        width: 55%;

        .tt-header {
            padding: 8px;
            justify-content: space-between;
            align-items: center;
            background: white;
            display: flex;
            margin-bottom: 6px;
        }

        .tt-tabs {
            .customs-tabs {
                height: 41px;
                padding: 8px 10px 0 8px;

                .nav-link {
                    height: 33px;
                }
            }
        }
    }
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    max-height: calc(100vh - 250px);
    overflow: auto;
}

.group-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 28px;

}

