.dropdown {
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  overflow: auto;
  max-height: 200px;
}
.dropdown-row {
  padding: 4px;
  cursor: pointer;
}
.dropdown-row:hover {
  background-color: var(--kt-primary);
}
