body{
  user-select: none;
};

.header-height{
  height: 46px;
};

.form-control{
  padding: 6px 12px;
};

.css-1rbdc2p-ValueContainer{
  padding-left: 12px !important;
};

.content-body{
  min-height: 84vh;
};

.form-control:disabled, .form-control[readonly]{
  color: #5E6278;
};

.header-box {
  padding-top: 13px;
};

.btn{
  min-width: 100px;
  font-size: 1rem;
};