@import "variable";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500&display=swap');

body {
    font-family: 'Roboto', sans-serif;

    * {
        font-size: $default-font-size;
    }
}

.fs-default {
    font-size: $default-font-size;
}

#kt_app_header_container {
    background-color: var(--color-header-app-container);
}

.color-red {
    color: red !important;
}

.text-gray {
    color: #6C757D !important;
}

.bg-table-gray {
    background-color: #ced4da;
}

.header-modal {
    background: white;
    padding: 10px 24px !important;

    .modal-title {
        font-size: $modal-title-fs;
        font-weight: 700;
        color: $color-text-cyan !important;
        text-transform: uppercase;
    }

    .btn-close {
        filter: initial;
        background-size: 12px;
    }
}

.modal-header {
    .modal-title {
        font-size: $modal-title-fs;
        font-weight: 700;
        color: $color-text-cyan !important;
        text-transform: uppercase;
    }

    .btn-close {
        filter: initial;
        background-size: 12px;
    }
}

.modal-body {
    padding: 16px 24px !important;
}

.resize-none {
    resize: none !important;
    height: auto !important;
}

.customs-input-check {
    height: 20px;
    width: 20px;
    border-radius: 3px !important;
}

.searchTextField {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 1px solid #A9A9A9;
    width: 32px;
    justify-content: center;
    cursor: pointer;

    i {
        font-size: 16px;
    }

    &:hover {
        i {
            font-size: 18px;
            color: #13a7a4;
        }
    }
}

.customs-form-check__table {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        width: 18px;
        height: 18px;
        border-radius: 3px !important;
        cursor: pointer;
    }
}

.customs-form-check__radio__table {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        width: 16px;
        height: 16px;
        margin-right: 5px;
        cursor: pointer;
    }

    input:checked {
        background: #13a7a4;
        cursor: pointer;
    }

    label {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.customs-form-check__radio {
    display: flex;
    align-items: center;

    input {
        width: 16px;
        height: 16px;
        margin-right: 5px;
        cursor: pointer;
    }

    label {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
    }
}

.text-lable-input {
    display: flex;
    font-size: $default-font-size;
    font-weight: 500;
    align-items: center;
}

.customs-input {
    height: 25px;
    font-size: $default-font-size;
    border-color: $color-border-gray !important;
    border-radius: 3px;

    &:disabled {
        border-color: $color-border-gray !important;
    }

    &.ps-29px {
        padding-right: 29px !important;
    }

}

.customs-tabs {
    background-color: #ffffff !important;
    height: 33px;
    flex-wrap: nowrap;
    overflow-y: hidden;

    .nav-link {
        background-color: #ffffff;
        // border: none;
        color: #000000;
        padding: 3px 8px !important;
        font-size: $default-font-size;
        ;
        width: max-content;
        font-size: $default-font-size;

        &.active {
            background: white;
            color: $color-text-cyan !important;
            font-weight: 700;
            position: relative;

            i {
                color: #ececec;

                &:hover {
                    color: #AAAABA;
                }
            }

            .label {
                span {
                    font-size: $default-font-size;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        top: 20px;
                        background: var(--bs-btn-primary);
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

            }
        }

        &:hover {
            opacity: 0.8;
            color: var(--color-primary);
        }
    }

    .label {
        position: relative;

        i {
            position: absolute;
            top: -6px;
            right: -13px;
            padding: 10px;
        }
    }
}

.custom-placeholder {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ac-is-invalid {

    ~.invalid-feedback {
        display: block;
    }

    >div {
        --bs-border-opacity: 1;
        border-color: rgba(var(--bs-danger-rgb), var(--bs-border-opacity)) !important;
    }
}

.disabled-tab {
    pointer-events: none;
    cursor: not-allowed;
    color: #ccc;
}

//phiếu in
.dialog_body_scroll {
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 !important;
}

.autocomplete-custom {
    span {
        &+div {
            display: flex;
            // height: 32px;
            align-items: center;
        }
    }

    &>div {
        padding-right: 0;
        border-radius: 6px;
    }

    &.rounded-0>div {
        border-radius: 0;
    }

    &.radius>div {
        border-radius: 6px;
    }
}

.max-content-width {
    width: max-content;
}

.is-invalid {
    border-color: #f1416c !important
}

.tooltip-inner {
    box-shadow: 2px 2px 5px #888 !important;
}

.text-cyan {
    color: $color-text-cyan !important;
}

.btn-outline {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white !important;
    color: #000 !important;
    font-size: $default-font-size;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    font-weight: 400;
    border-radius: 4px;
    padding: 3px 11px !important;

    i {
        color: #000 !important;
        font-size: $default-font-size;
        margin-right: 4px;
        align-items: center;
        padding-right: 0 !important;
        transition: all 0.15s ease-in-out;
    }

    &:hover {
        color: $color-text-cyan !important;
        border: 1px solid #1cced4 !important;

        i {
            color: $color-text-cyan !important;
        }
    }

    &:active,
    &:focus {
        color: #08979C !important;

        i {
            color: #08979C !important;
        }
    }

    &:disabled {
        background: $bg-button-disabled !important;
        color: $color-disabled-text !important;
        border: 1px solid $color-disabled-text !important;
        pointer-events: none !important;
    }
}

.btn-fill,
#dropdown-basic-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bs-btn-primary) !important;
    color: #ffffff !important;
    font-size: $default-font-size;
    font-weight: 400;
    border-radius: 4px;
    padding: 4px 8px !important;
    line-height: 21px;

    i {
        color: #ffffff !important;
        font-size: $default-font-size;
        margin-right: 6px;
        align-items: center;
    }

    svg {
        margin-right: 6px;
        align-items: center;
    }

    &:hover {
        background-color: var(--bs-btn-primary-hover) !important;
    }

    &:disabled {
        background: $bg-button-disabled !important;
        color: $color-disabled-text !important;
        border: 1px solid $color-disabled-text !important;
        pointer-events: none !important;
    }
}

.h-table {
    height: calc(100% - 40px);
}


.text-status-blue {
    color: rgba(24, 144, 255, 1) !important;
}

.text-status-ocean {
    color: rgba(19, 194, 194, 1) !important;
}

.text-status-green {
    color: rgba(82, 196, 26, 1) !important;
}

.text-status-yellow {
    color: rgba(250, 219, 20, 1) !important;
}

.text-status-orange {
    color: rgba(250, 173, 20, 1) !important;
}

.text-status-purple {
    color: rgba(114, 46, 209, 1) !important;
}

.h-calc-vh-110px {
    min-height: calc(100vh - 110px) !important;
}

.dialog-background {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.dropdown-item:hover {
    background-color: #E6FFFB !important;
}

.modal-content {
    max-height: calc(100vh - 50px);
    overflow-y: auto;
}

.modal-header {
    position: sticky;
    z-index: 1001;
    top: 0;
    background: white;
}

.modal-footer {
    position: sticky;
    z-index: 1001;
    bottom: 0;
    background: white;
}

.ckeditor-custom .ck.ck-editor {
    width: 100%;
}

.ckeditor-custom-mo-ta .ck.ck-editor {
    width: 100%;

    .ck-editor__editable {
        min-height: 726px;
    }
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.rotate-90 {
    transform: rotate(90deg);
}

#print-contents1,
#print-contents {

    th,
    td {
        border-width: 1px !important;
    }

    * {
        font-family: 'Times New Roman', Times, serif;
    }
}

#print-contents {
    font-family: 'Times New Roman', Times, serif;
}

.sticky-column {
    position: sticky;
    z-index: 999;
    background-color: white;

}

.sticky-header-column {
    background-color: #ced4da;
    position: sticky;
    z-index: 1000;
    top: 0;
}

.border-x {
    border-left: 1px solid $bs-border-color;
    border-right: 1px solid $bs-border-color;
}

.border-full {
    border: 1px solid $color-border-gray !important;
}

.balls {
    width: 3.5em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.balls div {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: #fc2f70;
    transform: translateY(-100%);
    animation: wave 0.8s ease-in-out alternate infinite;
}

.balls div:nth-of-type(1) {
    animation-delay: -0.4s;
}

.balls div:nth-of-type(2) {
    animation-delay: -0.2s;
}

@keyframes wave {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(100%);
    }
}


.menu-item {
    &.show {
        .menu-link {
            .menu-icon {
                .svg-icon {
                    color: var(--color-header-menu) !important;
                }

                color: var(--color-header-menu) !important;
            }
        }
    }

    .menu-link {
        background-color: var(--color-header-app-container) !important;

        .menu-title {
            font-size: $default-font-size !important;
        }

        &:hover {
            color: var(--color-header-menu) !important;

            .svg-icon {
                color: var(--color-header-menu) !important;
            }

            .menu-title {
                color: var(--color-header-menu) !important;
            }

            &:not(.active) {
                .menu-title {
                    color: var(--color-header-menu) !important;
                }
            }
        }

        &.active {
            font-weight: 500;
            position: relative;

            .menu-title {
                position: relative;
                color: var(--color-header-menu) !important;

                &:hover {
                    color: var(--color-header-menu) !important;
                }
            }
        }

    }
}

.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-check-input {
    width: 15px;
    height: 15px;

    &[type=checkbox] {
        border-radius: 0px;
    }
}

.btn .badge-pill-style {
    top: -5px;
    bottom: 10px;
    left: 15px;
}

.app-header-menu {
    .menu-item {
        align-self: stretch;
        display: flex;
        align-items: center;

        .menu-link {
            padding: 13px 20px;
        }
    }
}

.pre-line {
    white-space: pre-line;
}

.textarea-custom {
    font-weight: 600;
    width: 100%;
    margin-top: 0;
    border: none;
    outline: none;
    overflow: hidden;
    font-size: $default-font-size;
    line-height: 22px;
    resize: none
}

.border {
    border-color: #DEE2E6;
}

.modal {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.form-check {
    display: flex;
    align-items: center;
    gap: 6px;
}

.bg-blue {
    background-color: $bg-blue;
}

.w-tooltip-inner {
    .tooltip-inner {
        min-width: 215px;
    }
}

fieldset.scheduler-border {
    border: 1px solid #ddd;
    padding: 0 1em 1em 1em;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width: inherit;
    padding: 0 5px;
    border-bottom: none;
    font-size: 15px;
    font-weight: 500;
    float: none;
}

a {
    color: $color-text-cyan;
    font-weight: 500;
}

[class$="-MenuPortal"] {
    z-index: 1500 !important;
}

.form-check-label-red {
    .form-check-label {
        color: red;
        font-weight: bold;
    }
}

.header-menu-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: scroll;
    user-select: none;
    width: calc(100vw - 400px);

    span {
        white-space: nowrap;
    }

    scrollbar-width: none;

}


.dotted-bottom {
    position: relative;
    width: 100%;
    color: #0000FF;

    &::before {
        content: "";
        border-bottom: 1px dotted black;
        width: 100%;
        position: absolute;
        bottom: 4px;
    }
}